pyaes>=0.1a1
ecdsa>=0.9
requests
qrcode
protobuf
dnspython
jsonrpclib-pelix
qdarkstyle<3.0
aiorpcx>=0.8.1,<0.9
aiohttp
aiohttp_socks
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
